.blog-post {
    background-color: rgba(254, 251, 244, 0.733);
    padding: 1rem 2rem 0rem 2rem;
    box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.247);

    a {
        display: block;
        text-decoration: none;
    }

    a:link,
    a:visited {
        padding: 1rem 0rem;
        color: $color-pink;
    }

    a:hover {
        text-decoration: underline;
    }
}

.section-blog {
    a:link,
    a:visited {
        text-decoration: none;
    }
}


