.calendar {
    width: 100%;
    position: relative;
    background-color: rgba(254, 251, 244, 0.833);
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.247);
    text-align: center;

    & > a {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        color: $font-color;
        background-color: rgba(53, 194, 124, 0.459);
    }

    a:hover {
        color: $color-pink;
    }

    & ul {
        padding: 0;
        list-style: none;
    }

    li {
        padding: 1rem 0 0 0;
        line-height: 0.5rem;
    }

}
