body {
    font-family: 'FFKarbidWebLight', 'Source Sans Pro', sans-serif;
    background-image: url(../img/background.png);
    background-position: bottom;
}

.container {
    max-width: 970px;
}

.content {
    margin-top: 12.5rem;
}

.section-blog {
    margin-top: 4rem;
}