
.navbar {
    font-family: 'FFKarbidWebMedium', 'Source Sans Pro',sans-serif;
    background-color: #F7F3E8;
    // border-bottom: 2px solid $color-pink;
}

.navbar-toggler {
    border: none;
}

.menu-link {
    border-bottom: 2px solid transparent;
}


.menu-link:hover,
.menu-link:active {
    border-bottom: 2px solid $color-pink;
    transition: border-bottom .5s;
}


.menu-item {
    padding-left: 1.5rem;
}

.navbar-collapse {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.english:link,
.english:visited {
    position: relative;
    right: -40.7rem;
    top: -4rem;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 80%;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $color-pink;
        transition: border-bottom .5s;
    }
}
