.navbar {
    font-family: 'FFKarbidWebMedium', 'Source Sans Pro',sans-serif;
    background-color: #F7F3E8;

    &-brand, ul {
      padding:  0 8rem 0 8rem;
    }

    & img {
        height: 130px;
        width: auto;
    }
}

.navbar-toggler {
    border: none;
}

.menu-link {
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
}

.menu-link:hover,
.menu-link:active {
    border-bottom: 2px solid $color-pink;
    transition: border-bottom .5s;
}

.menu-item {
    padding-left: 2rem;
}

.navbar-collapse {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.english:link,
.english:visited {
    position: relative;
    right: -50.3rem;
    top: -2.5rem;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 80%;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $color-pink;
        transition: border-bottom .5s;
    }
}
