.sidebar {
    margin-top: 1rem;
    height: 60rem;
    background-color: rgba(247, 243, 232, 0.89);
    padding: 2rem;
    box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.247);

    & ul {
        list-style: none;
        padding: 0;
    }

    & ul li {
        padding: 1rem 0rem;
    }

    & ul li a:link,
    & ul li a:visited {
        text-decoration: none;
        padding: 0.5rem 1rem;
        color: $font-color;
        font-size: 1.3rem;
        border-bottom: 2px solid transparent;
    }

    & ul li a:hover {
        border-bottom: 2px solid $color-green;
        transition: border-bottom .5s;
    }

}

