.sidebar {
    height: auto;
    // height: 60rem;
    background-color: rgba(254, 251, 244, 0.733);
    padding: 3rem;
    box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.247);
    margin-bottom: 1rem;

    h4 {
        font-family: 'FFKarbidWebMedium', 'Source Sans Pro',sans-serif;
    }

    & ul {
        list-style: none;
        padding: 0;

    }

    & ul li {
        padding: 0.5rem 0rem;
    }

    & ul li a:link,
    & ul li a:visited {
        text-decoration: none;
        padding: 0;
        color: $font-color;
        font-size: 1rem;
        border-bottom: 1px solid transparent;
    }

    & ul li a:hover {
        border-bottom: 1px solid $color-green;
        transition: border-bottom .5s;
    }

}

.sidebar-widget {
    background-color: rgba(254, 251, 244, 0.733);
    padding: 2rem;
    box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.247);
    margin-bottom: 1rem;
}
